@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #ca0b6e 100%);
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    padding: 15px 25px;
    cursor: pointer;
}

/* header styles */

header {
    background: #eedded;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}

.nav-title {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.alphabet {
    color: #FF42A5;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-menu>ul {
    display: flex;
    align-items: center;
}

ul>li {
    list-style: none;
    margin-right: 15px;
    font-size: .8rem;
}

ul a {
    text-decoration: none;
}

.follow-us>ul {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px;
}

/* main styles */
main {}

section {
    max-width: 1040px;
    margin: 0px auto 120px;
}

/* goat section styles */


.goat {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}

.goat-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
}

.goat-content>ul {
    margin: 30px 0;
}

.goat-content>ul>li {
    margin: 10px 0;
}

.goat-color {
    color: #8758F1;
    font-size: 5rem;
    font-weight: 800;
}

.btn-secondary {
    border-radius: 48px;
    background: linear-gradient(90deg, #55b1fc 0%, #0559a8 100%);
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    padding: 15px 25px;
    cursor: pointer;
}

.goat-img img {
    width: 100%;
}

/* online games and funny videos styles */

.online-games {
    margin: 120px 150px 0;
    text-align: center;
}

.online-games-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.funny-text {
    color: #8758F1;
    font-size: 2.5rem;
    font-weight: 700;
}

.online-games-title {
    margin-bottom: 10px;
}

.online-games-description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.funny-video {

    display: flex;
    gap: 20px;
    justify-content: space-around;

    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px; */
}

.funny-video img {
    width: 100%;
}

.vdo-img p {
    margin-top: 10px;
    font-size: .8rem;
}

/* overlay section start*/
.container1,
.container2,
.container3,
.container4 {
    position: relative;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle1,
  .middle2,
  .middle3, 
  .middle4 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .container1:hover .image {
    opacity: 0.3;
  }
  
  .container1:hover .middle1 {
    opacity: 1;
  }
  .container2:hover .image {
    opacity: 0.3;
  }
  
  .container2:hover .middle2 {
    opacity: 1;
  }
  .container3:hover .image {
    opacity: 0.3;
  }
  
  .container3:hover .middle3 {
    opacity: 1;
  }
  .container4:hover .image {
    opacity: 0.3;
  }
  
  .container4:hover .middle4 {
    opacity: 1;
  }
  
  .text {
    color: rgb(228, 47, 47);
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
  }

  .text > i{
    font-size:2rem;
    color: #534C64;
  }



/* overlay section end*/

/* play anywhere anytime styles */

.play-anywhere-anytime {
    display: flex;
    align-items: center;
    gap: 250px;
}

.anywhere-img img {
    width: 100%;
    margin-right: 100px;
}

.small-img {
    width: 45%;
    position: relative;
    bottom: 130px;
    left: 250px;
}

/* game category styles */

.btn-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.category-btn {
    border-radius: 50px;
    background: #f8f0f0;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
    margin-bottom: 20px;
    padding: 0 5px;
}

.category-btn a {
    text-decoration: none;
}

.button-container {
    /* border: 1px solid transparent; */
}

.button-container :hover {
    border: 1px solid #ca0b6e;
    color: #ca0b6e;
}

.game-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;

}


/* footer styles */

.footer-section {
    background-color: #0B0223;
}

.footer-title {
    padding-top: 120px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-options {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-options>a,
.site-info>a {
    text-decoration: none;
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
}

.site-info>a {
    color: rgba(255, 255, 255, 0.60);
}

.footer-social,
.site-info,
.small {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-social i {
    font-size: 2rem;
    color: whitesmoke;
}

.small{
    padding-bottom: 130px;
}
.copyright {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}





@media screen and (max-width: 425px) {

    nav,
    .goat {
        padding: 20px;
    }

    nav,
    .nav-menu>ul,
    .goat,
    .funny-video {
        flex-direction: column;
        gap: 20px;
    }

    .play-anywhere-anytime {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .anywhere-img img {
        width: 70%;
        margin-right: 50px;
    }



    .goat-content {
        text-align: center;
    }

    .online-games,
    .play-anywhere-anytime {
        margin: 20px;
        text-align: center;
    }

    .small-img {
        width: 45%;
        position: relative;
        bottom: 100px;
        left: 230px;
    }

    .game-category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        margin: 20px;
    }

    .category-btn img {
        width: 30%;
    }

    .category-btn {
        font-size: .6rem;
    }

    .footer-options, 
    .footer-social{
        max-width: 425px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
        justify-items: center;
        margin-bottom: 80px;
    }

    .site-info{
        max-width: 425px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        justify-items: center;
    }
}


@media screen and (min-width: 426px) and (max-width: 960px) {

    nav,
    .nav-menu>ul {
        flex-direction: column;
        gap: 20px;
    }

    .play-anywhere-anytime {
        flex-direction: column-reverse;
        gap: 20px;
    }


    .goat {
        padding: 20px;
    }

    .funny-video>img {
        width: 150px;
    }

    .anywhere-img img {
        width: 70%;
        margin-right: 80px;
    }

    .online-games,
    .play-anywhere-anytime {
        margin: 20px;
        text-align: center;
    }

    .small-img {
        width: 45%;
        position: relative;
        bottom: 170px;
        left: 450px;
    }


    .footer-options, 
    .footer-social{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 20px;
        justify-items: center;
        margin-bottom: 80px;
    }

    .site-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        justify-items: center;
    }
}